DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_URL=sqlite:///db.sqlite3

DEFAULT_FROM_EMAIL=noreply@faralyar.ir

OTP_PROVIDER_NAME=
OTP_PROVIDER_API_KEY=
OTP_PROVIDER_SENDER=

ZARINPAL_MERCHANT_ID=
ZARINPAL_SANDBOX=true
